aside.explore {
    flex: 1;
    background-color: white;
    border-right: 1px solid $couleurPrincipal;
    h2 {
        font-size: larger;
        margin-bottom: 10px;
    }

    ul {
        a {
            color: $vertFonce;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            h3 {
                padding: 5px;

                i {
                    padding: 0 5px;
                }
            }
            
        }
    }
}

main.index-en-ligne {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    
    li {
        list-style: none;
    }
    
    & > * {
        padding: 25px 15px;
    }


    article.acceuil {
        flex: 4;
        

        & > section {
            text-align: center;
            border-bottom: 1px solid grey;
            padding: 20px 10px;
        }

        section.my-events, section.find-events {
            h2 {
                margin-bottom: 20px;
            }
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                a {
                    border-radius: 5px;
                    background-color: white;
                    width: 30%;
                    border: 1px solid grey ;
                    margin: 10px auto;
                    padding: 15px 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;

                    text-align: left;

                    &:hover {
                        color: inherit;

                        h3 {
                            color: $vertFonce;
                            text-decoration: underline;
                        }
                    }

                    div.localisation {
                        width: 100%;
                        margin: 10px 0;
                        * {
                            display: inline;
                        }
                    }

                    div.button {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;

                        button {
                            display: flex;
                            margin: inherit auto;

                            i {
                                margin-right: 5px;
                            }
                        }
                    }
                    img {
                        width        : 100%;
                        border-radius: 5px;
                        margin       : 10px 0;
                    }

                }
            }
        }
    }
}

