main.profil {
	display   : flex;
	min-height: 90vh;
	width     : 100%;

	aside.profil-information {
		flex         : 1;
		margin       : 20px 20px;
		margin-right: 0;
		padding-right: 20px;
		border-right : 1px $couleurPrincipal solid;

		ul {
			list-style: none;

			li {
				font-size    : 1em;
				margin-top   : 5px;
				margin-bottom: 5px;
			}

			li.nom {
				font-size  : 2em;
				font-weight: bold;
			}

			li.pseudo {
				color    : $couleurPrincipal;
				font-size: 1.4em;
			}

			button {
				margin-left: 0;
				width      : 100%;
			}

		}

		img {
			width: 100%;
			@include shadow-card;
		}
	}

	article.options {
		flex : 4;
		width: 100%;
		background-color: $blanc;

		.listeLiens {
			text-align: center;
			padding   : 20px 10px;

			ul {
				margin         : 20px 20px;
				display        : flex;
				flex-direction : row;
				justify-content: space-around;

				a {
					text-decoration: none;
					margin-left    : 10px;
					color          : $couleurPrincipal;
					font-size      : 15px;
					padding        : 10px 15px;
					transition     : color 0.6s ease;
					cursor         : pointer;
					border-bottom  : 1px grey solid;

					&:hover,
					&.active {
						color       : $couleurSecondaire;
						border-color: $couleurSecondaire;
					}
				}
			}

			li {
				list-style: none;
			}
		}

		section {
			padding: 0 10px 20px 10px;

		 	& > p {
				font-size: 1.2em;
				margin   : 20px 0;
			}

			& > h2 {
				text-align: center;
				margin-bottom: 30px;
			}

			ul {
				display       : flex;
				flex-direction: row;
				flex-wrap     : wrap;

				a {
					@include shadow-card;
					border-radius   : 5px;
					background-color: white;
					width           : 30%;
					border          : 1px solid grey;
					margin          : 10px auto;
					padding         : 15px 10px;
					display         : flex;
					flex-direction  : column;
					align-items     : center;
					text-decoration : none;

					text-align: left;

					&:hover {
						color: inherit;

						h3 {
							color          : $vertFonce;
							text-decoration: underline;
						}
					}

					div.localisation {
						width : 100%;
						margin: 10px 0;

						* {
							display: inline;
						}
					}

					div.button {
						width          : 100%;
						display        : flex;
						justify-content: space-around;

						button {
							display: flex;
							margin : inherit auto;

							i {
								margin-right: 5px;
							}
						}
					}

					img {
						width        : 100%;
						border-radius: 5px;
						margin       : 10px 0;
					}
				}
			}

			form.form-edit,
			form.form-event,
			form.add-rm-contributeur,
			form.add-rm-theme {
				display              : grid;
				grid-template-columns: 1fr 1fr;
				grid-gap             : 20px;
				margin-bottom: 20px;

				section {
					border       : 1px solid $vertFonce;
					border-radius: 5px;
					@include shadow-card;


					legend {
						display         : inline-table;
						color           : $vertFonce;
						position        : relative;
						top             : 0;
						transform       : translateY(-50%);
						font-size       : 1.2em;
						padding         : 2px 10px;
						background-color: #F6F8FA;
						
						

					}

					div.label-input {
						display       : flex;
						flex-direction: row;

						label {
							width    : 40%;
							max-width: 300px;
						}

						input,
						textarea,select{
							margin-right: 20px;
							max-width   : 300px;
							min-width   : 300px;
						}
					}

					&.submit,
					&.information-compte,
					&.add-rm-contributeur,
					&.add-rm-theme {
						grid-column: 1 / 3;
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
						div.add-rm
						{

							display : flex;
							align-items: flex-end;
							button{
								width: auto;
								
							}
						}
					}

					&.submit {
						border: none;
						@include rm-shadow-card;
						display        : flex;
						flex-direction : row;
						justify-content: center;

						button {
							margin: 0 10px;
							width : inherit;
						}
					}

					div.submit button {
						width: inherit;
					}
				}
			}
		}
	}
}