main.search {
  display: flex;
  min-height : 80vh;

  & > * {
    padding: 25px 15px;
  }

  article.search {
    flex : 4;
    width: 100%;
    background-color: $blanc;

    form {
      display       : flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      border-bottom: 1px solid grey;
      padding-bottom: 20px;

      div.label-input {
        display       : flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 20%;
        
        select,label {
          width: auto;
          margin: 0;
        }
      }
      
      & > input {
        width: 20%;
        margin: 0;
      }

      button.search {
        width: 170px;
        margin: 0;
      }
    }


    section.events {
      h2 {
        text-align   : center;
        margin-top   : 20px;
        margin-bottom: 30px;


      }

      ul {
        display       : flex;
        flex-direction: row;
        flex-wrap     : wrap;

        a {
          @include shadow-card;
          border-radius   : 5px;
          background-color: white;
          width           : 30%;
          border          : 1px solid grey;
          margin          : 10px auto;
          padding         : 15px 10px;
          display         : flex;
          flex-direction  : column;
          align-items     : center;
          text-decoration : none;

          text-align: left;

          &:hover {
            color: inherit;

            h3 {
              color          : $vertFonce;
              text-decoration: underline;
            }
          }

          div.localisation {
            width : 100%;
            margin: 10px 0;

            * {
              display: inline;
            }
          }

          div.button {
            width          : 100%;
            display        : flex;
            justify-content: space-around;

            button {
              display: flex;
              margin : inherit auto;

              i {
                margin-right: 5px;
              }
            }
          }

          img {
            width        : 100%;
            border-radius: 5px;
            margin       : 10px 0;
          }
        }
      }
    }
  }
}