@import url(./default.css);
/* Couleur V2 */
main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2A2627;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .form {
  background-color: #feffffc7;
  border-radius: 5px;
  width: 25%;
  min-width: 450px;
  padding: 0px 50px;
  color: #2A2627;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .form label {
  font-size: 17px;
}

main .form label::after {
  content: "*";
  color: red;
  margin-left: 5px;
  font-size: 20px;
}

main .form img {
  height: 35px;
  margin: auto;
  margin-top: 20px;
}

main .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px 40px 10px;
  width: 100%;
}

main .form form .label-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

main .form form .label-input span.forgot-password a {
  text-decoration: none;
}

main .form form .label-input span.forgot-password a:hover {
  text-decoration: underline;
}

main .form form button {
  margin-top: 25px;
  cursor: pointer;
}

main .new-compte {
  background-color: #feffffc7;
  border-radius: 5px;
  width: 25%;
  min-width: 450px;
  padding: 20px 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #2A2627;
}

main .new-compte p {
  font-size: 15px;
}

main .new-compte p a {
  text-decoration: none;
}

main .new-compte p a:hover {
  text-decoration: underline;
}
