@charset "UTF-8";
/*
Couleur V1
//$couleurPrincipal  : #0e6655;
//$couleurSecondaire : #f0f3f4;
*/
/* Couleur V2 */
/* 
    Ce fichier contient les styles par défault de quelques éléments récurents
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body,
html {
  font-family: 'Raleway', sans-serif !important;
  width: 100%;
  overflow-x: hidden !important;
  position: relative;
}

/* les label, input et les buttons  */
label {
  margin-bottom: 5px;
  font-size: 18px;
  color: #444;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=tel],
input[type=number],
textarea,
select {
  margin-bottom: 12px;
  padding: 5px 12px;
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 17px;
  font-family: inherit;
  color: #444;
  width: 100%;
  border: 1px solid transparent;
  -webkit-box-shadow: 2px 2px 3px 0.2rem rgba(0, 0, 0, 0.322);
          box-shadow: 2px 2px 3px 0.2rem rgba(0, 0, 0, 0.322);
  -webkit-transition: border-color 0.6s ease;
  transition: border-color 0.6s ease;
  -webkit-transition: -webkit-box-shadow 0.6s ease;
  transition: -webkit-box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=tel]:focus,
input[type=number]:focus,
textarea:focus,
select:focus {
  border-color: #00ce87;
  -webkit-box-shadow: 2px 2px 5px 0.2rem #00ce87;
          box-shadow: 2px 2px 5px 0.2rem #00ce87;
}

button[type=submit],
button[type=button],
button[type=reset] {
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #00ce87;
  color: #444;
  margin: 10px;
  padding: 7px 12px;
  -webkit-transition-property: background-color, color, border-color;
  transition-property: background-color, color, border-color;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  cursor: pointer;
}

form button[type=submit], form
button[type=button], form
button[type=reset] {
  width: 100%;
}

button[type=submit]:hover,
button[type=button]:hover,
button[type=reset]:hover {
  background-color: #444;
  color: #00ce87;
  border-color: #00ce87;
}

button[type=submit]:disabled,
button[type=button]:disabled,
button[type=reset]:disabled {
  cursor: not-allowed;
}

button[type=submit].btn-search,
button[type=button].btn-search,
button[type=reset].btn-search {
  position: relative;
  margin: 0;
  width: 35px;
  color: #444;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  border-left: 1px solid #444;
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
  -webkit-transition: none;
  transition: none;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

button[type=submit].btn-search:hover, button[type=submit].btn-search:disabled,
button[type=button].btn-search:hover,
button[type=button].btn-search:disabled,
button[type=reset].btn-search:hover,
button[type=reset].btn-search:disabled {
  color: #00ce87;
  background-color: #444;
  border-color: #00ce87;
}

button[type=reset] {
  color: #00ce87;
  background-color: #444;
}

/* le text en gras, les liens et autres */
b {
  color: #00ce87;
}

b:hover {
  text-decoration: underline;
}

a {
  color: inherit;
}

a:hover {
  color: #00ce87;
  text-decoration: underline;
}

/* error div */
div.errorBlock {
  width: 100%;
  margin-top: 5px;
  background-color: indianred;
  text-align: center;
  color: whitesmoke;
  padding: 4px;
  border-radius: 5px;
}

main.connection {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2A2627;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main.connection .form {
  background-color: #feffffc7;
  border-radius: 5px;
  width: 25%;
  min-width: 450px;
  padding: 0px 50px;
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.connection .form label {
  font-size: 17px;
}

main.connection .form label::after {
  content: "*";
  color: red;
  margin-left: 5px;
  font-size: 20px;
}

main.connection .form img {
  height: 35px;
  margin: auto;
  margin-top: 20px;
}

main.connection .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px 40px 10px;
  width: 100%;
}

main.connection .form form .label-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

main.connection .form form .label-input span.forgot-password a {
  text-decoration: none;
}

main.connection .form form .label-input span.forgot-password a:hover {
  text-decoration: underline;
}

main.connection .form form button {
  margin-top: 25px;
  cursor: pointer;
}

main.connection .new-compte {
  background-color: #feffffc7;
  border-radius: 5px;
  width: 25%;
  min-width: 450px;
  padding: 20px 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #444;
}

main.connection .new-compte p {
  font-size: 15px;
}

main.connection .new-compte p a {
  text-decoration: none;
}

main.connection .new-compte p a:hover {
  text-decoration: underline;
}

main.inscription {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2a2627;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main.inscription .form {
  background-color: #feffffc7;
  border-radius: 5px;
  width: 25%;
  min-width: 600px;
  padding: 0px 50px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  color: #444;
}

main.inscription .form img {
  height: 35px;
  margin: auto;
  margin-top: 20px;
}

main.inscription .form input:required + label::after {
  content: "*";
  color: red;
  margin-left: 5px;
  font-size: 20px;
}

main.inscription .form select + label::after {
  content: "*";
  color: red;
  margin-left: 5px;
  font-size: 20px;
}

main.inscription .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 10px 40px 10px;
  width: 100%;
}

main.inscription .form form .nom-prenom,
main.inscription .form form .mdp,
main.inscription .form form .email-tel,
main.inscription .form form .adresse1,
main.inscription .form form .adresse2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

main.inscription .form form .adresse2 .num-r {
  width: 50px;
}

main.inscription .form form .input-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 0 5px;
}

main.inscription .form form button {
  margin-top: 25px;
  cursor: pointer;
  width: auto;
}

main.inscription .form form .continuer-retour-inscrire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.inscription .old-compte {
  background-color: #feffffc7;
  border-radius: 5px;
  width: 25%;
  min-width: 600px;
  padding: 20px 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #444;
}

main.inscription .old-compte p {
  font-size: 15px;
}

main.inscription .old-compte p a {
  text-decoration: none;
  font-size: 12px;
}

aside.explore {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
  border-right: 1px solid #444;
}

aside.explore h2 {
  font-size: larger;
  margin-bottom: 10px;
}

aside.explore ul a {
  color: #008556;
  text-decoration: none;
}

aside.explore ul a:hover {
  text-decoration: underline;
}

aside.explore ul a h3 {
  padding: 5px;
}

aside.explore ul a h3 i {
  padding: 0 5px;
}

main.index-en-ligne {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.index-en-ligne li {
  list-style: none;
}

main.index-en-ligne > * {
  padding: 25px 15px;
}

main.index-en-ligne article.acceuil {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

main.index-en-ligne article.acceuil > section {
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 20px 10px;
}

main.index-en-ligne article.acceuil section.my-events h2, main.index-en-ligne article.acceuil section.find-events h2 {
  margin-bottom: 20px;
}

main.index-en-ligne article.acceuil section.my-events ul, main.index-en-ligne article.acceuil section.find-events ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main.index-en-ligne article.acceuil section.my-events ul a, main.index-en-ligne article.acceuil section.find-events ul a {
  border-radius: 5px;
  background-color: white;
  width: 30%;
  border: 1px solid grey;
  margin: 10px auto;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-align: left;
}

main.index-en-ligne article.acceuil section.my-events ul a:hover, main.index-en-ligne article.acceuil section.find-events ul a:hover {
  color: inherit;
}

main.index-en-ligne article.acceuil section.my-events ul a:hover h3, main.index-en-ligne article.acceuil section.find-events ul a:hover h3 {
  color: #008556;
  text-decoration: underline;
}

main.index-en-ligne article.acceuil section.my-events ul a div.localisation, main.index-en-ligne article.acceuil section.find-events ul a div.localisation {
  width: 100%;
  margin: 10px 0;
}

main.index-en-ligne article.acceuil section.my-events ul a div.localisation *, main.index-en-ligne article.acceuil section.find-events ul a div.localisation * {
  display: inline;
}

main.index-en-ligne article.acceuil section.my-events ul a div.button, main.index-en-ligne article.acceuil section.find-events ul a div.button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main.index-en-ligne article.acceuil section.my-events ul a div.button button, main.index-en-ligne article.acceuil section.find-events ul a div.button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: inherit auto;
}

main.index-en-ligne article.acceuil section.my-events ul a div.button button i, main.index-en-ligne article.acceuil section.find-events ul a div.button button i {
  margin-right: 5px;
}

header {
  min-height: 10vh;
  background-color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 10px 30px;
}

header a:hover, header a {
  text-decoration: none;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  height: 30px;
  margin: 0 20px;
}

header .logo h1 {
  font-size: 40px;
  color: #00ce87;
  font-style: italic;
  word-wrap: unset;
}

header div.menu {
  display: none;
  color: #00ce87;
  font-size: 30px;
  padding: 5px 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition-property: background-color, color, border-radius;
  transition-property: background-color, color, border-radius;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

header div.menu:hover {
  background-color: #00ce87;
  color: #444;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav li {
  list-style: none;
}

header nav li a {
  border: 1px solid #00ce87;
  padding: 10px 30px;
  color: #00ce87;
  background-color: #444;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  -webkit-transition: color, background-color 0.6s;
  transition: color, background-color 0.6s;
}

header nav li a:hover {
  color: #444;
  background-color: #00ce87;
}

main.events {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.events li {
  list-style: none;
}

main.events > * {
  padding: 25px 15px;
}

main.events article.event {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  background-color: #F6F6F8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
}

main.events article.event div.image-event {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  min-height: 250px;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #444;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main.events article.event div.image-event:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

main.events article.event h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  color: #444;
  text-align: center;
  font-size: 2.5em;
  margin-top: 15px;
}

main.events article.event section {
  padding: 25px 20px;
  margin: 5px 0;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main.events article.event section:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

main.events article.event section h3 {
  margin: 15px 0;
  font-size: 1.8em;
  color: #444;
}

main.events article.event section.description-event, main.events article.event section.map-event {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

main.events article.event section.information-event .note-event {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main.events article.event section.information-event .note-event div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #00ce87;
  border-radius: 10px;
  background-color: #444;
  color: #00ce87;
}

main.events article.event section.information-event .note-event div > * {
  margin: 5px 0;
}

main.events article.event section.information-event .note-event div i {
  font-size: 2.2em;
}

main.events article.event section.information-event .note-event div span {
  font-size: 1.3em;
}

main.events article.event section.information-event ul.information-list li {
  padding: 3px;
  font-size: 1.2em;
}

main.events article.event section.information-event ul.information-list li::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f105";
  margin: 0 15px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

main.events article.event section.information-event ul.information-list li:hover::before {
  color: #00ce87;
}

main.events article.event section.information-event .button-rejoindre-interesser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 25px 0 15px 0;
}

main.events article.event section.contributeur-card {
  padding: 0;
  max-height: 450px;
}

main.events article.event section.contributeur-card div.contributeur-img {
  max-width: 100%;
  height: 250px;
  margin: 0;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

main.events article.event section.contributeur-card div.contributeur-information {
  padding: 15px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.events article.event section.contributeur-card div.contributeur-information a {
  margin: 15px 0;
}

main.events article.event section.contributeur-card div.contributeur-information a button {
  margin: 0;
}

main.events article.event section.map-event {
  padding: 0;
  height: 400px;
}

main.events article.event section.map-event .map {
  width: 100%;
}

main.events article.event section.map-event .map i {
  color: #008556;
  font-size: 2.5em;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

main.profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  width: 100%;
}

main.profil aside.profil-information {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px 20px;
  padding-right: 20px;
  border-right: 1px #444 solid;
}

main.profil aside.profil-information ul {
  list-style: none;
}

main.profil aside.profil-information ul li {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

main.profil aside.profil-information ul li.nom {
  font-size: 2em;
  font-weight: bold;
}

main.profil aside.profil-information ul li.pseudo {
  color: #444;
  font-size: 1.4em;
}

main.profil aside.profil-information ul button {
  margin-left: 0;
  width: 100%;
}

main.profil aside.profil-information img {
  width: 100%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main.profil aside.profil-information img:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

main.profil article.options {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 100%;
}

main.profil article.options .listeLiens {
  text-align: center;
  padding: 20px 10px;
}

main.profil article.options .listeLiens ul {
  margin: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main.profil article.options .listeLiens ul a {
  text-decoration: none;
  margin-left: 10px;
  color: #444;
  font-size: 15px;
  padding: 10px 15px;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
  cursor: pointer;
  border-bottom: 1px grey solid;
}

main.profil article.options .listeLiens ul a:hover, main.profil article.options .listeLiens ul a.active {
  color: #00ce87;
  border-color: #00ce87;
}

main.profil article.options .listeLiens li {
  list-style: none;
}

main.profil article.options section {
  padding: 0 10px 20px 10px;
}

main.profil article.options section p {
  font-size: 1.2em;
  margin: 20px 0;
}

main.profil article.options section h2 {
  text-align: center;
}

main.profil article.options section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main.profil article.options section ul a {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  width: 30%;
  border: 1px solid grey;
  margin: 10px auto;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-align: left;
}

main.profil article.options section ul a:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

main.profil article.options section ul a:hover {
  color: inherit;
}

main.profil article.options section ul a:hover h3 {
  color: #008556;
  text-decoration: underline;
}

main.profil article.options section ul a div.localisation {
  width: 100%;
  margin: 10px 0;
}

main.profil article.options section ul a div.localisation * {
  display: inline;
}

main.profil article.options section ul a div.button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main.profil article.options section ul a div.button button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: inherit auto;
}

main.profil article.options section ul a div.button button i {
  margin-right: 5px;
}

main.profil article.options section ul a img {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}

main.profil article.options section.edit-profil form.form-edit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

main.profil article.options section.edit-profil form.form-edit section {
  border: 1px solid #008556;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main.profil article.options section.edit-profil form.form-edit section:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

main.profil article.options section.edit-profil form.form-edit section legend {
  display: inline-block;
  color: #008556;
  position: relative;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2em;
  padding: 2px 10px;
  background-color: white;
}

main.profil article.options section.edit-profil form.form-edit section div.label-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.profil article.options section.edit-profil form.form-edit section div.label-input label {
  width: 40%;
  max-width: 300px;
}

main.profil article.options section.edit-profil form.form-edit section div.label-input input,
main.profil article.options section.edit-profil form.form-edit section div.label-input textarea {
  margin-right: 20px;
  width: 50%;
  max-width: 300px;
}

main.profil article.options section.edit-profil form.form-edit section.submit, main.profil article.options section.edit-profil form.form-edit section.information-compte {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

main.profil article.options section.edit-profil form.form-edit section.submit {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.profil article.options section.edit-profil form.form-edit section.submit:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main.profil article.options section.edit-profil form.form-edit section.submit button {
  margin: 0 10px;
  width: inherit;
  height: initial;
}

footer {
  min-height: 40vh;
  width: 100%;
  background-color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .head-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .head-footer span.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
  margin-left: 50px;
  margin-top: 50px;
}

footer .head-footer span.logo img {
  height: 40px;
  margin: 0 20px;
}

footer .head-footer span.logo h1 {
  color: #00ce87;
  font-style: italic;
  font-size: 45px;
}

footer .head-footer ul {
  margin-right: 50px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .head-footer ul a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 15px;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
}

footer .head-footer ul a:hover {
  color: grey;
}

footer .head-footer ul li {
  list-style: none;
}

footer .social-media {
  width: 40%;
  min-width: 200px;
  margin: auto;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

footer .social-media a i {
  font-size: 35px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  transition-property: font-size, color, background, background-clip, -webkit-text-fill-color;
  width: 35px;
}

footer .social-media .fa-facebook {
  color: grey;
}

footer .social-media .fa-facebook:hover {
  font-size: 40px;
  color: #3b5da0;
}

footer .social-media .fa-instagram {
  color: grey;
}

footer .social-media .fa-instagram:hover {
  font-size: 40px;
  background: -webkit-gradient(linear, left bottom, right top, from(#f58529), color-stop(#f97238), color-stop(#f95e47), color-stop(#f64b56), color-stop(#ee3a66), color-stop(#e73478), color-stop(#dc348a), color-stop(#cd399a), color-stop(#bb47ae), color-stop(#a455bf), color-stop(#8761cc), to(#626bd5));
  background: linear-gradient(to right top, #f58529, #f97238, #f95e47, #f64b56, #ee3a66, #e73478, #dc348a, #cd399a, #bb47ae, #a455bf, #8761cc, #626bd5);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

footer .social-media .fa-github {
  color: grey;
}

footer .social-media .fa-github:hover {
  font-size: 40px;
  color: white;
}

footer .social-media .fa-twitter {
  color: grey;
}

footer .social-media .fa-twitter:hover {
  font-size: 40px;
  color: #3191f6;
}

main.index-hors-ligne {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main.index-hors-ligne .first-page {
  width: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url("../img/compressed/jossuha-theophile-unsplash-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main.index-hors-ligne .first-page .title-page {
  position: relative;
  border-radius: 5px;
  min-height: 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main.index-hors-ligne .first-page .title-page h1,
main.index-hors-ligne .first-page .title-page p {
  text-shadow: 2px 0 #444, -2px 0 #444, 0 2px #444, 0 -2px #444, 1px 1px #444, -1px -1px #444, 1px -1px #444, -1px 1px #444;
  color: #00ce87;
}

main.index-hors-ligne .first-page .title-page h1 {
  font-size: 70px;
}

main.index-hors-ligne .first-page .title-page p {
  font-size: 40px;
}

main.index-hors-ligne .first-page .title-page .fa-chevron-down {
  display: none;
  font-size: 50px;
  text-shadow: 2px 0 #444, -2px 0 #444, 0 2px #444, 0 -2px #444, 1px 1px #444, -1px -1px #444, 1px -1px #444, -1px 1px #444;
  color: #00ce87;
  position: absolute;
  bottom: 20px;
  -webkit-animation-name: chevron-animation;
          animation-name: chevron-animation;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes chevron-animation {
  to {
    bottom: 0px;
  }
}

@keyframes chevron-animation {
  to {
    bottom: 0px;
  }
}

main.index-hors-ligne .first-page .form {
  background-color: #feffffc7;
  border-radius: 5px;
  width: 25%;
  min-width: 320px;
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #444;
}

main.index-hors-ligne .first-page .form .find-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 2px solid #444;
  padding: 20px 10px 40px 10px;
  width: 100%;
}

main.index-hors-ligne .first-page .form .find-form .find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.index-hors-ligne .first-page .form .find-form .find input {
  padding-right: 45px;
  margin: 0;
  margin-right: -35px;
}

main.index-hors-ligne .first-page .form .sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px 40px 10px;
  width: 100%;
}

main.index-hors-ligne .first-page .form .sign-up .pseudo,
main.index-hors-ligne .first-page .form .sign-up .email,
main.index-hors-ligne .first-page .form .sign-up .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

main.index-hors-ligne .events-page {
  min-height: 100vh;
  background-image: url("../img/compressed/Jade_Masri_Unsplash.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main.index-hors-ligne .events-page .events-title {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  width: 90%;
}

main.index-hors-ligne .events-page .events-title h1 {
  color: #444;
  font-size: 50px;
  text-decoration: underline;
  margin-bottom: 20px;
}

main.index-hors-ligne .events-page .events-title p {
  font-size: 25px;
}

main.index-hors-ligne .events-page .events {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.index-hors-ligne .events-page .events .events-card {
  height: 450px;
  width: 25%;
  min-width: 335px;
  border: 3px solid #444;
  color: #444;
  background-color: #dadddef1;
  -webkit-transition: -webkit-box-shadow, -webkit-transform 0.6s;
  transition: -webkit-box-shadow, -webkit-transform 0.6s;
  transition: box-shadow, transform 0.6s;
  transition: box-shadow, transform 0.6s, -webkit-box-shadow, -webkit-transform 0.6s;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main.index-hors-ligne .events-page .events .events-card:hover {
  -webkit-box-shadow: 4px 5px 14px 6px rgba(0, 0, 0, 0.34);
          box-shadow: 4px 5px 14px 6px rgba(0, 0, 0, 0.34);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main.index-hors-ligne .events-page .events .events-card:hover h2 {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  color: #00ce87;
  text-decoration: underline;
}

main.index-hors-ligne .events-page .events .events-card img {
  width: 85%;
  height: 45%;
  border: 2px solid #444;
  border-radius: 5px;
}

main.index-hors-ligne .events-page .events .events-card button {
  padding: 10px;
  min-width: 35%;
  width: inherit !important;
}

main.index-hors-ligne .events-page .events .events-card p {
  width: 85%;
}

main.index-hors-ligne .events-page .events .events-card p i {
  color: #444;
}

/* 
    Gérer le responsive
*/
@media (max-width: 760px), (max-height: 545px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header div.menu {
    display: inherit;
  }
  header .mobile-display-none {
    left: 100%;
  }
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: absolute;
    top: 10vh;
    left: 0%;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    z-index: 1;
  }
  header nav li a {
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    width: 100%;
    border-radius: 0;
    text-align: center;
    height: 50px;
  }
  header nav li:last-child a {
    border-bottom: 1px solid #00ce87;
  }
  main.index-hors-ligne {
    /* events-page */
  }
  main.index-hors-ligne .first-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    min-height: 150vh;
  }
  main.index-hors-ligne .first-page h1 {
    font-size: 50px !important;
  }
  main.index-hors-ligne .first-page p {
    font-size: 35px !important;
  }
  main.index-hors-ligne .first-page .title-page {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 90vh;
    margin: 0 20px;
  }
  main.index-hors-ligne .first-page .title-page .fa-chevron-down {
    display: inline;
    text-align: center;
  }
  main.index-hors-ligne .first-page .form {
    width: 100%;
    border-radius: 0;
  }
  main.index-hors-ligne .events-page {
    min-height: 100vh;
  }
  main.index-hors-ligne .events-page p,
  main.index-hors-ligne .events-page h1 {
    text-align: center;
  }
  main.index-hors-ligne .events-page h1 {
    font-size: 40px !important;
  }
  main.index-hors-ligne .events-page p {
    font-size: 25px !important;
  }
  main.index-hors-ligne .events-page .events .events-card {
    max-width: 100% !important;
  }
  main.index-hors-ligne .events-page .events .events-card button {
    padding: 10px;
    min-width: 35%;
    width: inherit !important;
  }
  main.connection {
    /*  for connection.php */
  }
  main.connection .form,
  main.connection .new-compte {
    min-width: inherit;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
  }
  footer .head-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .head-footer span.logo {
    margin-left: 0;
  }
  footer .head-footer span.logo h1 {
    display: none;
  }
  footer .head-footer ul {
    width: 100%;
    margin-right: 0;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .head-footer ul > * {
    margin-bottom: 20px;
  }
}

@media (max-width: 510px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
    margin-left: 0;
  }
}

@media (max-width: 450px) {
  header h1 {
    display: none;
  }
}

@media (max-width: 1100px) {
  footer .logo h1 {
    display: none;
  }
}

@media (max-width: 600px), (max-height: 545px) {
  main.inscription {
    /*  for inscription.php */
  }
  main.inscription .form,
  main.inscription .old-compte {
    min-width: inherit;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: inherit;
  }
  main.inscription .form form .email-tel, main.inscription .form form .nom-prenom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
