@charset "UTF-8";
/* 
    Ce fichier contient les styles par défault de quelques éléments récurents
*/
/* Couleur V2 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Raleway', sans-serif !important;
  width: 100%;
  overflow-x: hidden !important;
}

label {
  margin-bottom: 5px;
  font-size: 18px;
  color: #2A2627;
}

input[type=text],
input[type=email],
input[type=password] {
  margin-bottom: 12px;
  padding: 5px 12px;
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 17px;
  font-family: inherit;
  color: #2A2627;
  width: 100%;
  border: 1px solid transparent;
  -webkit-box-shadow: 2px 2px 3px 0.2rem rgba(0, 0, 0, 0.322);
          box-shadow: 2px 2px 3px 0.2rem rgba(0, 0, 0, 0.322);
  -webkit-transition: border-color 0.6s ease;
  transition: border-color 0.6s ease;
  -webkit-transition: -webkit-box-shadow 0.6s ease;
  transition: -webkit-box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #00CE87;
  -webkit-box-shadow: 2px 2px 5px 0.2rem #00CE87;
          box-shadow: 2px 2px 5px 0.2rem #00CE87;
}

button[type=submit],
button[type=button] {
  border: 1px solid #2A2627;
  border-radius: 5px;
  background-color: #00CE87;
  color: #2A2627;
  margin: 10px;
  padding: 7px 12px;
  -webkit-transition-property: background-color, color, border-color;
  transition-property: background-color, color, border-color;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  cursor: pointer;
}

form button[type=submit], form
button[type=button] {
  width: 100%;
}

button[type=submit]:hover, button[type=submit]:focus,
button[type=button]:hover,
button[type=button]:focus {
  background-color: #2A2627;
  color: #00CE87;
  border-color: #00CE87;
}

button[type=submit].btn-search,
button[type=button].btn-search {
  position: relative;
  margin: 0;
  width: 35px;
  color: #2A2627;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  border-left: 1px solid #2A2627;
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
  -webkit-transition: none;
  transition: none;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

button[type=submit].btn-search:hover, button[type=submit].btn-search:focus,
button[type=button].btn-search:hover,
button[type=button].btn-search:focus {
  color: #00CE87;
  background-color: #2A2627;
  border-color: #00CE87;
}
