@charset "UTF-8";
/* 
    Ce fichier contient les styles par défault de quelques éléments récurents
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Raleway', sans-serif !important;
}

label {
  margin-bottom: 5px;
  font-size: 18px;
}

input[type=text],
input[type=email],
input[type=password] {
  margin-bottom: 12px;
  padding: 5px 12px;
  background-color: #f0f3f4;
  border-radius: 5px;
  font-size: 17px;
  font-family: inherit;
  color: black;
  width: 100%;
  border: 1px solid transparent;
  -webkit-box-shadow: 2px 2px 3px 0.2rem rgba(0, 0, 0, 0.322);
          box-shadow: 2px 2px 3px 0.2rem rgba(0, 0, 0, 0.322);
  -webkit-transition: border-color 0.6s ease;
  transition: border-color 0.6s ease;
  -webkit-transition: -webkit-box-shadow 0.6s ease;
  transition: -webkit-box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #0e6655;
  -webkit-box-shadow: 2px 2px 5px 0.2rem #0e6654a1;
          box-shadow: 2px 2px 5px 0.2rem #0e6654a1;
}

form button[type=submit] {
  width: 100%;
  border: 1px solid #0e6655;
  border-radius: 5px;
  color: #0e6655;
  margin: 10px;
  padding: 7px 12px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

form button[type=submit]:hover {
  background-color: #0e6655;
  color: #f0f3f4;
}

form button[type=submit].btn-search {
  position: relative;
  margin: 0;
  width: 35px;
  color: #0e6655;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  border-left: 1px solid #0e6655;
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
}
