@import url(./default.css);

/*
    Couleur V1
//$couleurPrincipal  : #0e6655;
//$couleurSecondaire : #f0f3f4;
*/

/* Couleur V2 */
$couleurPrincipal : #2A2627;
$couleurSecondaire: #00CE87;
$couleurTroisieme : whitesmoke;

@mixin flex-column-start {
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
}

@mixin shadow-text {
    text-shadow: 2px 0 $couleurPrincipal, -2px 0 $couleurPrincipal,
        0 2px $couleurPrincipal, 0 -2px $couleurPrincipal,
        1px 1px $couleurPrincipal, -1px -1px $couleurPrincipal,
        1px -1px $couleurPrincipal, -1px 1px $couleurPrincipal;
}

header {
    width     : 100%;
    height    : 10vh;
    min-height: 50px;

    background-color: $couleurPrincipal;


    display        : flex;
    justify-content: space-between;
    align-items    : center;

    padding: 0 30px;

    span.logo {
        display    : flex;
        align-items: center;

        img {
            height: 30px;
            margin: 0 20px;
        }

        h1 {
            font-size : 40px;
            color     : $couleurSecondaire;
            font-style: italic;
        }
    }

    div.menu {
        display  : none;
        color    : $couleurSecondaire;
        font-size: 30px;
        padding  : 5px 10px;

        position     : absolute;
        right        : 20px;
        top          : 18px;
        cursor       : pointer;
        border-radius: 5px;

        transition-property: background-color, color, border-radius;
        transition-duration: 0.6s;

        &:hover,
        &:focus {
            background-color: $couleurSecondaire;
            color           : $couleurPrincipal;
        }
    }

    nav {
        display: flex;

        li {
            list-style: none;

            a {
                border          : 1px solid $couleurSecondaire;
                padding         : 10px 30px;
                color           : $couleurSecondaire;
                background-color: $couleurPrincipal;
                border-radius   : 5px;
                margin-right    : 10px;
                text-decoration : none;

                transition: color, background-color 0.6s;

                &:hover,
                &:focus {
                    color           : $couleurPrincipal;
                    background-color: $couleurSecondaire;

                }
            }

        }
    }
}

main {
    .first-page {
        width : 100%;
        height: 90vh;

        display        : flex;
        align-items    : center;
        justify-content: space-around;

        background-image   : url("../img/jossuha-theophile-unsplash-2.jpg");
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : cover;

        .title-page {
            //background-color: #e0e0e0de;
            border-radius     : 5px;
            min-height        : 50%;
            width             : 50%;

            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : flex-start;

            h1,
            p {
                text-align: center;
                @include shadow-text;
                color: $couleurSecondaire;
            }

            h1 {
                font-size: 70px;
            }

            p {
                font-size: 40px;
            }

            .fa-chevron-down {
                display  : none;
                font-size: 50px;
                @include shadow-text;
                color: $couleurSecondaire;

                position: absolute;
                top     : 90%;

                animation-name           : chevron-animation;
                animation-delay          : 0.5s;
                animation-duration       : 1s;
                animation-iteration-count: infinite;
                animation-direction      : alternate;

                @keyframes chevron-animation {
                    from {
                        top: 90%;
                    }

                    to {
                        top: 94%;
                    }
                }

            }
        }

        .form {
            background-color: #feffffc7;
            border-radius   : 5px;
            width           : 25%;
            min-width       : 320px;
            padding         : 0px 50px;

            @include flex-column-start;
            align-items: center;

            font-size: 20px;
            color    : $couleurPrincipal;



            .find-form {
                @include flex-column-start;

                border-bottom: 2px solid $couleurPrincipal;
                padding      : 20px 10px 40px 10px;
                width        : 100%;


                .find {
                    display        : flex;
                    justify-content: center;

                    input {
                        padding-right: 45px;
                        margin       : 0;
                        margin-right : -35px;
                    }
                }

            }

            .sign-up {
                @include flex-column-start;
                align-items: center;

                padding: 20px 10px 40px 10px;
                width  : 100%;

                .pseudo,
                .email,
                .password {
                    display        : flex;
                    flex-direction : column;
                    justify-content: flex-start;

                    width: 100%;
                }
            }
        }
    }

    // deuxième page - page des évenements

    .events-page {
        min-height         : 100vh;
        //background-color : $couleurTroisieme;
        background-image   : url("../img/Jade_Masri_Unsplash.jpg");
        background-position: top;
        background-repeat  : no-repeat;
        background-size    : cover;
        padding            : 20px 10px;

        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: space-evenly;

        .events-title {
            flex           : 1;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            margin-bottom  : 20px;

            h1 {
                color          : $couleurPrincipal;
                font-size      : 50px;
                text-decoration: underline;

                margin-bottom: 20px;
            }

            p {
                font-size: 25px;
            }
        }

        .events {
            flex  : 3;
            width : 100%;
            margin: auto;

            display        : flex;
            flex-direction : row;
            flex-wrap      : wrap;
            justify-content: space-around;
            align-items    : center;

            .events-card {
                height   : 450px;
                width    : 25%;
                min-width: 335px;
                border   : 3px solid $couleurPrincipal;
                color    : $couleurPrincipal;
                background-color: #dadddef1;
                transition      : box-shadow 0.6s;
                margin-bottom: 20px;

                display         : flex;
                flex-direction  : column;
                align-items     : center;
                justify-content : space-evenly;

                &:hover {
                    box-shadow: 4px 5px 14px 6px rgba(0, 0, 0, 0.34);

                    h2 {
                        transition     : 0.7s;
                        color          : $couleurSecondaire;
                        text-decoration: underline;
                    }
                }

                img {
                    // can be slide
                    width         : 85%;
                    height        : 45%;
                    border        : 2px solid $couleurPrincipal;
                    border-radius : 5px;
                    // /box-shadow: 4px 5px 14px 6px $couleurPrincipal;
                }

                button {
                    padding  : 10px;
                    min-width: 35%;
                    width    : inherit !important;
                }

                p {
                    width: 85%;

                    i {
                        color: $couleurPrincipal;
                    }
                }

            }

        }
    }
}

footer {
    min-height      : 40vh;
    width           : 100%;
    background-color: $couleurPrincipal;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;

    .head-footer {
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        align-items    : baseline;

        span.logo {
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
            height         : 20%;

            margin-left: 50px;
            margin-top : 50px;

            img {
                height: 40px;
                margin: 0 20px;
            }

            h1 {
                color     : $couleurSecondaire;
                font-style: italic;
                font-size : 45px;
            }

        }

        ul {
            margin-right: 50px;
            margin-top  : 50px;

            display        : flex;
            flex-direction : row;
            justify-content: space-around;

            a {
                color          : $couleurTroisieme;
                text-decoration: none;
                font-size      : 17px;
                padding        : 10px 15px;

                &:hover {
                    color: grey;
                }
            }

            li {
                list-style: none;

            }
        }
    }

    .social-media {
        width          : 40%;
        min-width      : 200px;
        margin         : auto;
        height         : 40px;
        display        : flex;
        justify-content: space-between;
        margin-bottom  : 25px;


        a i {
            font-size          : 35px;
            transition         : .5s ease;
            transition-property: font-size, color, background, background-clip, -webkit-text-fill-color;
            width              : 35px;

        }

        .fa-facebook {
            color: grey;

            &:hover {
                font-size: 40px;
                color    : #3B5DA0;
            }
        }

        .fa-instagram {
            color: grey;

            &:hover {
                font-size              : 40px;
                background             : linear-gradient(to right top, #f58529, #f97238, #f95e47, #f64b56, #ee3a66, #e73478, #dc348a, #cd399a, #bb47ae, #a455bf, #8761cc, #626bd5);
                background-clip        : text;
                -webkit-background-clip: text;
                -moz-background-clip   : text;
                -webkit-text-fill-color: transparent;
                color                  : transparent;
            }
        }

        .fa-github {
            color: grey;

            &:hover {
                font-size: 40px;
                color    : white;
            }
        }

        .fa-twitter {
            color: grey;

            &:hover {
                font-size: 40px;
                color    : #3191F6;
            }
        }

    }

}