@import url(./default.css);
/*
    Couleur V1
//$couleurPrincipal  : #0e6655;
//$couleurSecondaire : #f0f3f4;
*/
/* Couleur V2 */
header {
  min-height: 10vh;
  background-color: #2A2627;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 10px 30px;
}

header span.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header span.logo img {
  height: 30px;
  margin: 0 20px;
}

header span.logo h1 {
  font-size: 40px;
  color: #00CE87;
  font-style: italic;
  word-wrap: unset;
}

header div.menu {
  display: none;
  color: #00CE87;
  font-size: 30px;
  padding: 5px 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition-property: background-color, color, border-radius;
  transition-property: background-color, color, border-radius;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

header div.menu:hover, header div.menu:focus {
  background-color: #00CE87;
  color: #2A2627;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav li {
  list-style: none;
}

header nav li a {
  border: 1px solid #00CE87;
  padding: 10px 30px;
  color: #00CE87;
  background-color: #2A2627;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  -webkit-transition: color, background-color 0.6s;
  transition: color, background-color 0.6s;
}

header nav li a:hover, header nav li a:focus {
  color: #2A2627;
  background-color: #00CE87;
}

main {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .first-page {
  width: 100%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url("../img/jossuha-theophile-unsplash-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .first-page .title-page {
  position: relative;
  border-radius: 5px;
  min-height: 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .first-page .title-page h1,
main .first-page .title-page p {
  text-align: center;
  text-shadow: 2px 0 #2A2627, -2px 0 #2A2627, 0 2px #2A2627, 0 -2px #2A2627, 1px 1px #2A2627, -1px -1px #2A2627, 1px -1px #2A2627, -1px 1px #2A2627;
  color: #00CE87;
}

main .first-page .title-page h1 {
  font-size: 70px;
}

main .first-page .title-page p {
  font-size: 40px;
}

main .first-page .title-page .fa-chevron-down {
  display: none;
  font-size: 50px;
  text-shadow: 2px 0 #2A2627, -2px 0 #2A2627, 0 2px #2A2627, 0 -2px #2A2627, 1px 1px #2A2627, -1px -1px #2A2627, 1px -1px #2A2627, -1px 1px #2A2627;
  color: #00CE87;
  position: absolute;
  bottom: 20px;
  -webkit-animation-name: chevron-animation;
          animation-name: chevron-animation;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes chevron-animation {
  to {
    bottom: 0px;
  }
}

@keyframes chevron-animation {
  to {
    bottom: 0px;
  }
}

main .first-page .form {
  background-color: #feffffc7;
  border-radius: 5px;
  width: 25%;
  min-width: 320px;
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #2A2627;
}

main .first-page .form .find-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 2px solid #2A2627;
  padding: 20px 10px 40px 10px;
  width: 100%;
}

main .first-page .form .find-form .find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .first-page .form .find-form .find input {
  padding-right: 45px;
  margin: 0;
  margin-right: -35px;
}

main .first-page .form .sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px 40px 10px;
  width: 100%;
}

main .first-page .form .sign-up .pseudo,
main .first-page .form .sign-up .email,
main .first-page .form .sign-up .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

main .events-page {
  min-height: 100vh;
  background-image: url("../img/Jade_Masri_Unsplash.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .events-page .events-title {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  width: 90%;
}

main .events-page .events-title h1 {
  color: #2A2627;
  font-size: 50px;
  text-decoration: underline;
  margin-bottom: 20px;
}

main .events-page .events-title p {
  font-size: 25px;
}

main .events-page .events {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .events-page .events .events-card {
  height: 450px;
  width: 25%;
  min-width: 335px;
  border: 3px solid #2A2627;
  color: #2A2627;
  background-color: #dadddef1;
  -webkit-transition: -webkit-box-shadow 0.6s;
  transition: -webkit-box-shadow 0.6s;
  transition: box-shadow 0.6s;
  transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .events-page .events .events-card:hover {
  -webkit-box-shadow: 4px 5px 14px 6px rgba(0, 0, 0, 0.34);
          box-shadow: 4px 5px 14px 6px rgba(0, 0, 0, 0.34);
}

main .events-page .events .events-card:hover h2 {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  color: #00CE87;
  text-decoration: underline;
}

main .events-page .events .events-card img {
  width: 85%;
  height: 45%;
  border: 2px solid #2A2627;
  border-radius: 5px;
}

main .events-page .events .events-card button {
  padding: 10px;
  min-width: 35%;
  width: inherit !important;
}

main .events-page .events .events-card p {
  width: 85%;
}

main .events-page .events .events-card p i {
  color: #2A2627;
}

footer {
  min-height: 40vh;
  width: 100%;
  background-color: #2A2627;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .head-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .head-footer span.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
  margin-left: 50px;
  margin-top: 50px;
}

footer .head-footer span.logo img {
  height: 40px;
  margin: 0 20px;
}

footer .head-footer span.logo h1 {
  color: #00CE87;
  font-style: italic;
  font-size: 45px;
}

footer .head-footer ul {
  margin-right: 50px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .head-footer ul a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 15px;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
}

footer .head-footer ul a:hover {
  color: grey;
}

footer .head-footer ul li {
  list-style: none;
}

footer .social-media {
  width: 40%;
  min-width: 200px;
  margin: auto;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

footer .social-media a i {
  font-size: 35px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  transition-property: font-size, color, background, background-clip, -webkit-text-fill-color;
  width: 35px;
}

footer .social-media .fa-facebook {
  color: grey;
}

footer .social-media .fa-facebook:hover {
  font-size: 40px;
  color: #3B5DA0;
}

footer .social-media .fa-instagram {
  color: grey;
}

footer .social-media .fa-instagram:hover {
  font-size: 40px;
  background: -webkit-gradient(linear, left bottom, right top, from(#f58529), color-stop(#f97238), color-stop(#f95e47), color-stop(#f64b56), color-stop(#ee3a66), color-stop(#e73478), color-stop(#dc348a), color-stop(#cd399a), color-stop(#bb47ae), color-stop(#a455bf), color-stop(#8761cc), to(#626bd5));
  background: linear-gradient(to right top, #f58529, #f97238, #f95e47, #f64b56, #ee3a66, #e73478, #dc348a, #cd399a, #bb47ae, #a455bf, #8761cc, #626bd5);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

footer .social-media .fa-github {
  color: grey;
}

footer .social-media .fa-github:hover {
  font-size: 40px;
  color: white;
}

footer .social-media .fa-twitter {
  color: grey;
}

footer .social-media .fa-twitter:hover {
  font-size: 40px;
  color: #3191F6;
}
